.section_inner {
    display: inline-block;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, minmax(200px, auto));
    justify-content: space-between;
    flex-direction: row;
    margin-top: 300px;
}

.title {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 60px;
        background-size: cover;
        background-color: rgb(206, 206, 206);
        border-radius: 60px;
}

.section_whole {
    display: inline-block;
    background-color:rgb(129, 130, 133);
    inline-size: 850px;
    justify-content: space-between;
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    margin-bottom: 30px;
}

.image_locate {
    display: inline-flex;
    margin-inline-start: 70px;
    margin-inline-end: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.headerText {
    font-size:30px;
    background-color: rgb(255, 213, 134);
    font-style: normal;
    text-align: center;
}

.headerText2 {
    display: inline-flexbox;
    font-size:30px;
    background-color: rgb(255, 213, 134);
    font-style: normal;
    text-align: center;
}

.headerText3 {
    display: initial;
    font-size:30px;
    background-color: rgb(64, 240, 41);
    font-style: normal;
    text-align: center;
}

.InnerText {
    background-color: rgb(160, 198, 255);
    font-size:20px;
    font-style: normal;
    text-align: center;
}



.section__data {

    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 20px;
    
}


.section__inner.search {
    min-height: 100vh;
    
    .section {
        margin-bottom: 40px;
        border-radius: 10px;
        background-color: #969696;

        @media (max-width: 600px){
            margin-bottom: 10px;
        }

        .section__thumb {

            a {
                position: relative;

                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                position: relative;
                background-size: cover;
                background-position: center;
            }
        }

        .section__info {
            padding: 10px 15px;
            color: #fff;
    
            .title {
                font-size: 1rem;
            }
            .info {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                
                .locate {
                    color: #666;
                    transition: all 0.3s;
    
                    &:hover {
                        color: #fff;
                    }
                }
                .date {
                    font-size: 14px;
                    color: #666;
                }
            }
        }
    }
}

.section__more {
    button {
        width: 100%;
        border: 0;
        padding: 20px;
        background-color: var(--black100);
        color: var(--white);
        transition: all 0.3s;
        margin-bottom: 20px;
        cursor: pointer;
        border-radius: 40px;

        &:hover {
            background-color: var(--black200);
        }
    }
}


#SectionPage {
    padding: 0;

    @media (max-width: 800px){
        margin-top: 80px;
    }
}
.Section__view {


    .Section__info {
        padding: 40px;

        .Section__channel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            background-color: var(--black100);
            padding: 10px 30px;
            border-radius: 40px;

            .id {
                font-weight: 800;
            }

            .count {

                span {
                    border-radius: 40px;
                    font-size: 14px;
                    margin-left: 10px;

                    svg {
                        width: 20px;
                        height: 20px;
                        vertical-align: -5px;
                        margin-right: 5px;
                    }
                }
            }
        }
        .Section__desc {
            white-space: pre-line;
        }
    } 
}